
.file-upload {
    background-color: #ffffff;
    width: 100%;
    height: 80%;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 3px dashed #52734D;
    background-color:#F7F5F2;
    border-radius: 3%;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #E5E3C9;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #52734D;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 400px;
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #52734D;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #52734D;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #A2B29F;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}
#label-container{
    margin-left: 15px;
}
.search{
    clear: left;
    margin-top: 80px;
} 